a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.table {
	display: table;
	width: 100%;
}

.row {
	display: table-row;
	margin: 20px;
}

.cell {
	display: table-cell;
	padding: 15px;
	border: solid 1px black;
	margin: 10px;
}

.rowDetails {
}

.rowOperation {
	
}

.info { 
	background-color: #8FBC8F;
}

.warning { 
	background-color: #FFFACD;
}

.error { 
	background-color: #F08080;
}

#menu div {
	display: inline-block;
}