a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.table {
	display: table;
	width: 100%;
	border-spacing: 10px;
}

.row {
	display: table-row;	
}

.cell {
	display: table-cell;
	padding: 15px;
}

div.cell.details {	
	border: solid 1px black;
}

.rowDetails {
}

.rowOperation {
	
}

.info { 
	background-color: #8FBC8F;
}

.warning { 
	background-color: #FFFACD;
}

.error { 
	background-color: #F08080;	
}

#menu div {
	display: inline-block;
}

#messages {
	overflow-y: auto;
	height: 300px;
}