html {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.table {
	display: table;
	width: 100%;
	border-spacing: 10px;
}

.row {
	display: table-row;	
}

.cell {
	display: table-cell;
	padding: 15px;	
}

div.cell.details {	
	border: solid 1px black;
	border-radius: 10px;
	
}

div.cell.details {
   background-color: #CCCCFF;
}

#cart div.cell.details {
   background-color: #CCFFCC;
}

#list div.cell.details {
   background-color: #FF9999;
}

div.cell.details:hover {
	box-shadow: 5px 5px 4px grey;
}

#cart div.cell.details:hover {
   	box-shadow: 5px 5px 4px grey;
}

#list div.cell.details:hover {
	box-shadow: 5px 5px 4px grey;
}

.rowDetails {
}

.rowOperation {
	
}

.info { 
	background-color: #8FBC8F;
}

.warning { 
	background-color: #FFFACD;
}

.error { 
	background-color: #F08080;	
}

#menu div {
	display: inline-block;
}

#logs {
	overflow-y: auto;
	height: 300px;
}
#logs div {
	border: solid 1px gray;
	margin: 2px;
	padding:2px;
}
#body button { 
	font-size: large;
	height: 50px;
	width: 150px;	
}

#body .operations a { 	
	display: -webkit-inline-box	
}


.detail { 
	font-style: italic;
	font-size: small;
}

.name {
	font-size: x-large;
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: 15px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

.cell .prodId { 
	visibility: hidden;
}

[contenteditable="true"].single-line {
	white-space: nowrap;
	
	overflow: hidden;
} 
[contenteditable="true"].single-line br {
	display: none;

}
[contenteditable="true"].single-line * {
	display: inline;
	white-space: nowrap;
}